.detail-container {
  max-width: 1000px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 20px;
  background: var(--white);
  border-radius: var(--radius);
  
}

.detail-image img {
  width: 100%;
  border-radius: var(--radius);
  object-fit: cover;
}

.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

.detail-info h1 {
  font-size: 2.5rem;
  margin: 10px 0;
  line-height: 1.2;
}

.detail-price {
  font-size: 1.8rem;
  color: var(--accent); 
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  line-height: 1.8;
  color: var(--secondary);
  margin-bottom: 30px;
}

.size-selector h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #888;
  margin-bottom: 15px;
}

.sizes {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}


.sizes select {
    padding: 15px;
    width: 200px;
    background: white;
    font-size: 1rem;
}

.add-cart-btn {
  color:white,
  padding: 18px;
  font-size: 1.1rem;
  background: var(--primary);
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}